@font-face {
  font-family: 'Open Sans';
  src: url('./font/DancingScript-VariableFont_wght.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.special-font {
  font-family: 'Open Sans', sans-serif;
}

.title-l {
  font-size: 70px;
}

.title-m {
  font-size: 40px;
}

.carrusel-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.carrusel-data {
  background-color: #000000be;
  color: black;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
